* {
  padding: 0;
  margin: 0;
}

.page1 {
  background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/ca583b8c-7cfa-4202-9be2-1d3f0e3f24cf/bvlatuR/std/2880x1800/M3-Homepage-RHD-D);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

#headerElements {
  font-size: 14px;
  margin: -68px;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* word-spacing: 1rem; */
  display: flex;
  height: 50px;
  align-items: center;
  position: fixed;
  justify-content: space-around;
}

.navbarItem {
  list-style: none;
  padding-right: 20px;
  padding-left: 20px;
}

.navbarBox {
  display: flex;
  align-items: center;
  padding-left: 100px;
  letter-spacing: 0.7px;
}
.navbarBox a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 15px;
}
#navbarHeader {
  font-size: 42px;
  font-weight: 500;
  letter-spacing: 0.9px;
  padding-top: 41px;
  justify-content: center;
  display: flex;
  margin-top: 75px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#navbarSubheader {
  font-size: 14px;
  justify-content: center;
  display: flex;
  letter-spacing: 0.7px;
  font-weight: 300;
  padding-top: 7px;
  font-family: sans-serif;
}

.navbarRound {
  justify-content: center;
  font-size: 12px;
  color: white;
  border-radius: 20px;
  background-color: rgb(68, 68, 70);
  padding-left: 75px;
  padding-right: 75px;
  padding-top: 13px;
  padding-bottom: 13px;
}

.navbarRounded {
  justify-content: center;
  font-size: 12px;
  padding: 7px;
  color: black;
  border-radius: 20px;
  background-color: rgb(230, 230, 230);
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 18px;
}
.navbarR {
  display: flex;
  justify-content: center;
  padding-top: 30%;
  font-family: sans-serif;
  padding-bottom: 148px;
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 0.7px;
  margin-top: 17px;
}
.navbarB {
  justify-content: center;
  text-align: center;
  text-decoration: none;
  padding-top: 30%;
  font-family: sans-serif;
  padding-bottom: 25px;
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 0.7px;
  margin-top: 17px;
}
.navbarR a {
  text-decoration: none;
}

#modelS {
  padding-left: 150px;
}

#tesla {
  padding-left: 118px;
}

#delivery3 {
  padding-left: 3px;
  color: black;
}

.page2 {
  padding-top: 15px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/8e2df1b9-a4bf-4eb9-beec-2cf5cc77fca0/bvlatuR/std/2880x2400/Desktop-ModelY?quality=70");
}

.page3 {
  background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/676da95d-942e-414c-8534-f1832f0d4ced/bvlatuR/std/3296x1798/ms-homepage-desktop");
  padding-top: 12px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.page4 {
  background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/325743a2-d187-4e28-91a3-5a2e47e317f7/bvlatuR/std/2880x1800/ModelX-Homepage-D");
  padding-top: 12px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.page5 {
  background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/16b04537-a4be-4bf9-8637-86862a858da8/bvlatuR/std/2880x1800/_25-HP-SolarPanels-D");
  padding-top: 14px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.page6 {
  background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/c877126e-0db5-409d-a412-04fc94b59b76/bvlatuR/std/2880x1800/HP-SR-Design-D");
  padding-top: 14px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.page7 {
  background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/dd739764-bcaa-4263-9488-8c73bc9fb046/bvlatuR/std/2880x2400/Desktop-Accessories");
  padding-top: 20px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.lastpage {
  justify-content: center;
  font-size: 12px;
  color: white;
  border-radius: 20px;
  background-color: rgb(53, 53, 54);
  padding-left: 75px;
  padding-right: 75px;
  padding-top: 13px;
  padding-bottom: 13px;
  margin-top: -20px;
  text-decoration: none;
  align-items: center;
}
.bottom a {
  color: #5c5e62;
  padding-left: 20px;
  font-size: 11px;
  font-weight: 500;
  text-decoration: none;
}

.foot {
  margin-top: 90px;
  margin-bottom: 10px;
}
.menu {
  display: none;
}

@media screen and (max-width: 850px) {
  #headerElements {
    font-size: 14px;
    margin: -68px;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    display: flex;
    height: 50px;
    width: 106%;
    align-items: center;
    position: fixed;
    justify-content: space-between;
  }

  body {
    background-position: center;
  }
  .navbarBox {
    display: none;
  }
  .menu {
    display: flex;
    font-size: 14px;
    letter-spacing: 0.4px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    text-align: right;
    margin-top: -14px;
    border: 4px solid transparent;
    backdrop-filter: blur(100px);
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 14px;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .page3 {
    background-position: center;
  }
  .page4 {
    background-position: center;
  }
  .page5 {
    background-position: center;
  }
  .page6 {
    margin-bottom: -30px;
    background-position: center center;
  }
  .page7 {
    background-position: center;
    padding-bottom: 80px;
  }
  .navbarR {
    padding-top: 35%;
  }
  .page2 {
    background-position: center;
  }
  #navbarHeader {
    width: 100%;
    padding-top: -100px;
  }
  .navbarB {
    margin-top: 50px;
  }
  #tesla {
    padding-left: 100px;
  }
}
@media screen and (max-width: 600px) {
  #tesla {
    padding-left: 92px;
  }
  body {
  }
  .navbarR {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    padding-top: 60%;
  }
  .navbarRound {
    width: 64%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .navbarRounded {
    width: 69%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .menu {
    margin-right: 10px;
    display: flex;
    font-size: 14px;
    letter-spacing: 0.4px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    text-align: right;
    margin-top: -14px;
    border: 4px solid transparent;
    backdrop-filter: blur(100px);
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
  }
  #headerElements {
    width: 111%;
  }
  .page7 {
    height: 610px;
  }
  #accesories {
    margin-top: 180px;
  }
}
